{% extends 'base.html' %}
{% block content %}
    <h2>About Page</h2>
    <p>
        Thorin and Company were a group of thirteen Dwarves, the Wizard Gandalf, and the Hobbit Bilbo Baggins, led by
        Thorin II Oakenshield in TA 2941. Their purpose was to regain the lost Dwarven kingdom of the Lonely Mountain
        from the dragon Smaug.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thoren Oakenshield</h3>
            <p>
                Thorin II "Oakenshield", eventually called King under the Mountain or Mountain King, was the son of
                Thráin II, the older brother of Frerin and Dís, the grandson of King Thrór and the uncle of Fíli and
                Kíli. Thorin was best known for his deeds as leader of a company that infiltrated the lost Kingdom under
                the Mountain to take it back from Smaug and for leading an alliance of Men, Dwarves, and Elves in the
                Battle of Five Armies.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="Thorin's awkward yearbook photo.">
        </div>
    </div>
    <div class=" row featurette">
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="I'm just reusing photos for this.">
        </div>
        <div class="col-md-7">
            <h3>Fili and Kili</h3>
            <p>
                Fíli and Kíli were brothers, the youngest of the thirteen Dwarves who set out with Thorin
                Oakenshield's company, along with Gandalf and Bilbo Baggins, to reclaim the Lonely Mountain from the
                dragon Smaug.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Oin</h3>
            <p>
                Óin was a dwarf of Durin's Folk known for being a part of Thorin's Company in the Quest of Erebor.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="I'm just reusing photos for this..">
        </div>
    </div>
    <div class=" row featurette">
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="I'm just reusing photos for this.">
        </div>
        <div class="col-md-7">
            <h3>Gloin</h3>
            <p>
                Glóin, son of Gróin was one of the Dwarves of Thorin II Oakenshield's company who set out to reclaim the
                Lonely Mountain in the Quest of Erebor. He was also the father of Gimli, who became a member of the
                Fellowship of the Ring.

                Glóin chiefly appears in The Hobbit as a supporting character. Glóin also appears in The Fellowship of
                the Ring during the Council of Elrond.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Balin</h3>
            <p>
                Balin was a Dwarf leader, the son of Fundin, and elder brother of Dwalin. He was one of the thirteen
                Dwarves who accompanied Thorin II Oakenshield on the quest to regain the Lonely Mountain.
                A Dwarf Lord known for his wise counsel and willingness to listen, he was one of Thorin's closest
                friends and advisers. Balin was distantly related to him, and a descendant of the noble House of Durin.

                He later went to re-establish the Dwarf presence in Moria, but within five years it was overcome once
                more by Orcs, and he was killed there along with the rest of his companions.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="I'm just reusing photos for this.">
        </div>
    </div>
    <div class=" row featurette">
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="I'm just reusing photos for this.">
        </div>
        <div class="col-md-7">
            <h3>Dwalin</h3>
            <p>
                Dwalin was one of the Dwarves who traveled with Bilbo and Gandalf as a member of Thorin and Company on
                the quest to regain the Lonely Mountain from the Dragon Smaug. He was the brother of Balin and the
                youngest son of Fundin.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Ori</h3>
            <p>
                Ori was a member of Thorin's Company of Dwarves and participated in the Quest of Erebor, as well as
                fighting in and surviving the Battle of Five Armies. He, along with his cousins Dori and Nori, were
                remote kinsmen of Thorin II Oakenshield.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="I'm just reusing photos for this.">
        </div>
    </div>
    <div class=" row featurette">
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="I'm just reusing photos for this.">
        </div>
        <div class="col-md-7">
            <h3>Dori</h3>
            <p>
                Dori was a Dwarf of Durin's Folk, who, along with his brother Nori and cousin Ori, travelled with
                Bilbo Baggins and Thorin Oakenshield as a member of Thorin's Company on theQuest for Erebor, to reclaim
                the Lonely Mountain from the dragon Smaug.

                Dori was among the Dwarves at Bag End who joined in singing about "blunting the knives" and "bending the
                forks"; as well as accompanying by playing the flute. He was described as “decent fellow despite his
                grumbling”. He often wore a red-violet coat while on the Quest for Erebor. He was noted by Thorin to be
                the strongest of the thirteen companions.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Nori</h3>
            <p>
                Nori was a Dwarf of Durin's Folk. He had a brother named Dori as well as a cousin named Ori, and was
                a remote kinsman of Thorin Oakenshield.

                He played the flute, and was very fond of regular and plentiful meals like his Hobbit friend, Bilbo
                Baggins.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="I'm just reusing photos for this.">
        </div>
    </div>

    <div class=" row featurette">
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="I'm just reusing photos for this.">
        </div>
        <div class="col-md-7">
            <h3>Bifur</h3>
            <p>
                Bofur was a Dwarf of the late-Third Age. He is best known for being a companion to Bilbo Baggins and
                Thorin Oakenshield on the quest to regain the Lonely Mountain, along with his cousins Bofur and Bombur.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Bofur</h3>
            <p>
                Bofur was a Dwarf of the late-Third Age. He is best known as a companion of Bilbo Baggins, Thorin
                Oakenshield, and Gandalf on the quest to reclaim the Lonely Mountain from the dragon Smaug, along with
                his brother Bombur and cousin Bifur.
        </div>
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="I'm just reusing photos for this.">
        </div>
    </div>
    <div class=" row featurette">
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="I'm just reusing photos for this.">
        </div>
        <div class="col-md-7">
            <h3>Bombur</h3>
            <p>
                Bombur was a Dwarf who accompanied Thorin Oakenshield and Bilbo Baggins on their quest to the Lonely
                Mountain as part of the company, alongside his brother Bofur and cousin Bifur. Bombur was noted as the
                fattest Dwarf in the company.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Gandalf</h3>
            <p>
                Gandalf the Grey, later known as Gandalf the White, and originally named Olórin, was an Istar (Wizard), dispatched to Middle-earth in the Third Age to combat the threat of
                Sauron. He joined Thorin II Oakenshield and his company to reclaim the Lonely Mountain from Smaug,
                helped form the Fellowship of the Ring to destroy the One Ring, and led the Free Peoples in the final
                campaign of the War of the Ring.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../static/assets/istockphoto.jpg" alt="I'm just reusing photos for this.">
        </div>
    </div>
        
{% endblock %}
